 body {
 margin: 0px;
 padding: 0;
 font-family: "PT Sans", Arial, sans-serif;
 font-size: 14px;
 line-height: 24px;
 font-weight: 700;
 color: #000000;
 text-transform: uppercase;
 
 background: url("../img/background-photo.jpg") no-repeat center center;
 background-color: #f2f2f2;
 
 }
 
 .container {
 margin: auto;
 width:1200px;
 height: 800px;
 
 }
 
 .container-hotel {
 background: #f2f2f2;
 }
 
 .above-background-color {
 width: 850px;
 margin: auto;
 }
 
 .photos-hotel {
 background: #ffffff;
 /*border: 2px solid green;*/
 margin: 0;
 padding: 0px;
 }
 
 
 .filters {
 background: url("../img/background-photo.jpg") no-repeat center center;
 /*overflow: hidden;*/
 padding: 0;
 margin: 0;
 }
 
 a {
 text-decoration: none;
 
 }
 
 .button {
 font: inherit;
 text-align: center;
 text-transform: uppercase;
 border: none;
 color: #ffffff;
 background-color: #81b3d2;
 min-height: 27px;
 }
 
 .button:hover {
 background: #669ec0;
 }
 
 .button:active {
 background: #5496bd;
 
 }
 
 .button-brown {
 background-color: #766357;
  
 }
 
 .button-brown:hover {
 background: #604e43;

 }
 
 .button-brown:active {
 background: #503e33;
 color: rgba(255, 255, 255, 0.3)
 
 }
 
 .button-link {
 display: inline-block;
 min-width: 110px;
 min-height: 27px;
 }
 .rating {
 background-color: #f2f2f2;
 width: 110px;
 height: 27px;
 margin-top: auto;
 font-size: 14px;
 font-weight: normal;
 color: #666666;
 text-align: center;
 }
 .visually-hidden {
 width: 1px;
 height: 1px;
 padding:0;
 margin: -1px;
 white-space: nowrap;
 overflow: hidden;
 }
  
 .main-navigation {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 
 font-size: 14px;
 line-height: 26px;
 color: #000000;
 background-color: #ffffff;
 
 }
 .site-navigation {
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 0;
 margin: 0;
 }
 
 .hotel-list {
  display: flex;
 flex-direction: column;
 padding-left: 0;
  /*border: 2px solid blue;*/
 }
 
 .hotel-list li {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
padding-top: 30px;
padding-left: 46px;
 margin-bottom: 30px;  
  border-top: 1px solid rgba(117, 190, 218, 0.5);
  /*border: 1px solid;*/  
 }
 
 .star {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 margin-left: auto;
 margin-right: 32px;
 padding-right: 0;
 
 }
 .star-again {
 margin-right: 0;
 margin-top: 10px;
 text-align: right;
 }
 .hotel-list > li > img {
 max-width: 100%;
 }
 .great-description {
 display: flex;
 flex-direction: column;
 margin-left: 20px;
 /*border: 4px solid green;*/
 
 }
 .for-span span {
 font-weight: normal;
 color: #333333;
 text-align: center;
 }
 .for-span {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 /*border: 1px solid;*/
 }
 .for-button {
 /*border: 1px solid;*/
 margin-top: auto;
 }
  
 span:nth-child(2) {
 /*border: 1px solid;*/
 margin-right: 70px;
 }
 .description-hotel {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 /*border: 2px solid orange;*/
 width: 620px;
 
 }
 
 .main-navigation li {
 min-width: 239px;
 min-height: 56px;
 }
 .place-for-logo {
 min-width: 244px;
 min-height: 56px;
 }
 
 .main-navigation li,
 .main-footer li,
 .hotel-list li {
 list-style: none;

 
 }
 .main-navigation a,
 .main-footer a {
 color: #000000;
 }
 .title-hotel {
 color: #000000;
 margin-top: -8px;
 
 }
 
 .main-navigation a:hover {
 color: #81b3d2;
 }
 .hotel-list a:hover {
 color: #81b3d2;
 }
 .main-navigation a:active {
 color: rgba(0, 0, 0, 0.3);
 
 }
 
 .hotel-list a:active {
 color: rgba(0, 0, 0, 0.3);
 }
 
 .breadcrumbs-current {
 color: #766357;
 }
 
 .main-header-logo {
 order: 2;
 text-align: center;
 /*border: 2px solid green;*/

 }
 .main-page {
 text-align: center;
 }
   
  /*.main-page {
 display: block;
 margin: 0;
 padding: 70px;
 text-align: center;
 overflow: hidden;
 background: url("../img/intro-mask.svg") no-repeat center bottom;
 
 }*/
 
 .container-for-main-page {
 display: flex;
 flex-direction: column;

 flex-wrap: wrap;
 /*box-sizing: border-box;*/
 padding: 0;
 margin: 0;
 /*border: 2px solid yellow;*/
 }
  .intro-mask,
  .main-page,
  .welcome {
  /*border: 2px solid red; */ 
  }
  
 .intro-mask {
 margin-bottom: -9px;
 padding: 0;
 }
 
 .description-of-benefits  {
 display: block;
 /*border: 2px solid gray;*/
 
 background-color: #ffffff;
 text-align: center;
 font-family: inherit;
 }
 
  .sedona  {
 font-weight: bold;
 color: #000000;
 font-size: 21px;
 line-height: 26px;
 /*border: 2px solid gray;*/
 }
  
 .reasons a {
 color: #000000;
 line-height: 26px;
 font-weight: normal;
 /*border: 2px solid gray;*/
 }
 
  .main-footer {
 display: flex;
 min-height: 120px;
 width: 1200px;
 align-items: center;
 margin: 0;
 padding: 0;
 color:  #000000;
 background-color: #ffffff;
 
 /*border: 2px solid green;*/
  
 }
 
  .footer-contacts {
 display: block;
 min-width: 223px;
 margin-left: 132px;
 
 font-family: inherit;
 font-weight: bold;
 font-size: 21px;
 text-align: left;
 
 /*border: 4px solid orange;*/
 }
  .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-left: 0;
  border: none;
  }
  .social-network {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-left: 145px;
  padding: 0;
  /*border: 1px solid;*/
  }
  .social-network li {
  display: flex;
  align-items: center;
  /*border: 1px solid;*/
 
  width: 53px;
  padding-right: 6px;
  }
    
 .footer-copyright {
 display: flex;
 align-items: center;
 height: 41px;
 min-width: 189px;
 font-size: 14px;
 line-height: 26px;
 font-weight: normal;
 margin-left: 80px;
/* border: 1px solid orange;*/
 }
 
 .search {
 width: 568px;
 
 display: block;
 font-size: 21px;
 padding-top: 35px;
 padding-bottom: 33px;
 
 
 }
 .modal {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 0;
 }
 .reserve {
 width: 568px;
 text-align: center;
 line-height: 36px;
 font-weight: normal;
 background-color: #ffffff;
 }
 .interested {
 font-size: 30px;
 font-weight: bold;
 }
 .search-hotel {
 width: 568px;
 min-height: 395px;
 background-color: #ffffff;
 
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 margin-top: 0px;
 
 padding-top: 55px;
 text-align: center;
 /*border: 1px solid;*/
 }
 .search-hotel .button {
 width: 458px;
 min-height: 58px;
 margin: 0 auto;
 margin-top: 54px;
 }
 .search-hotel label {
 margin-bottom: 29px;
 }
 .search-hotel input {
 font: inherit;
 border: none;
 background-color: #f2f2f2;
 
 }
 
 .search-hotel input:focus,
 .search-hotel input:hover {
 border: 2px solid blue;
 }
 
 
 
