 body {
 width: 1280px;
 box-sizing: border-box;
 margin: 0 auto;
 padding: 0;
 font-family: "PT Sans", Arial, sans-serif;
 font-size: 14px;
 line-height: 24px;
 font-weight: 700;
 color: #000000;
 text-transform: uppercase;
 
 background: url("../img/background-photo.jpg") no-repeat 50% -1%;
 background-color: #f2f2f2;
 background-size: 1200px 773px;
 }
 
 .container {
 margin: 0 40px;
 width:1200px;
 height: 773px;
 /*border: 5px solid green;*/
 
 box-shadow: 
 3px 0 10px 0 rgba(204, 204, 204, 0.5),
 -3px 0 10px 0 rgba(204, 204, 204, 0.5);
 }
 
 .container-hotel {
 width: 1200px;
 background: #f2f2f2;
 padding: 0;
 margin: 0 auto;
 box-shadow: 
 3px 0 10px 0 rgba(204, 204, 204, 0.5),
 -3px 0 10px 0 rgba(204, 204, 204, 0.5);
 
 }
  
 a {
 text-decoration: none;
 }
 
 .button {
 font: inherit;
 text-align: center;
 text-transform: uppercase;
 border: none;
 color: #ffffff;
 background-color: #81b3d2;
 min-height: 27px;
 
 }
 
 .button:hover {
 background: #669ec0;
 }
 
 .button:active {
 background: #5496bd;
 
 }
 
 .button-brown {
 background-color: #766357;
 
 }
 
 .button-brown:hover {
 background: #604e43;

 }
 
 .button-brown:active {
 background: #503e33;
 color: rgba(255, 255, 255, 0.3)
 
 }
 
 .button-link {
 display: inline-block;
 min-width: 110px;
 min-height: 27px;
 
 }
 
 .rating {
 background-color: #f2f2f2;
 width: 110px;
 height: 27px;
 margin-top: auto;
 font-size: 14px;
 font-weight: normal;
 color: #666666;
 text-align: center;
 }
 .visually-hidden, .visually-hidden button {
 position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  /*clip-path: inset(100%);*/
  clip: rect(0 0 0 0);
  overflow: hidden;
 
 }
 
 .main-header {
 /*border: 2px solid;*/
 margin-left: 5px;
 width: 1200px;
 }
  
 .main-navigation {
 position: relative;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 
 font-size: 14px;
 line-height: 26px;
 color: #000000;
 background-color: #ffffff;
 /*border: 2px solid;*/
 }
 .site-navigation {
 display: flex;
 
 flex-direction: row;
 flex-wrap: wrap;
 
 padding: 0;
 margin: 0;
 }
 
 .photos-hotel {
 width: 1200px;
 background: #ffffff;
 margin: 0;
 padding-bottom: 0px;
 /*border: 1px solid orange;*/
 border-bottom: 1px solid rgba(117, 190, 218, 0.5);
 }
 
  .filters {
  display: flex;
  min-height: 217px;
  background: url("../img/filter-background.jpg") no-repeat 0% 50%;
  color: #ffffff;
 
  }
  
  .filter legend {
  font-size: 16px;
  font-weight: bold;
  }
 
 .filter fieldset:nth-child(1) {
 margin-right: 100px;
 margin-left: 71px;
 
 }
 .filters form {
 display: flex;
 border: 1px solid;
 width: 1200px;
 padding-top: 31px;
 
 }
 
 .filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  }
  
  .filter-option {
  margin-left: 40px;
  margin-top: 21px;
  }
  
 .filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-weight: normal;
  
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
}
.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
 
 .filter fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  }
  
  .for-pseudo-element {
  
  margin-left: auto;
  padding-top: 0;
  }
  
 .cost-range {
 display: flex;
 flex-direction: column;
 align-items: center;
 box-sizing: content-box;
 width: 314px;
 
 margin-left: auto; 
 margin-right: 74px;
 
 }
  
 .cost-range p:nth-child(1) {
 width: 100%;
 font-size: 16px;
 font-weight: bold;
 
 margin: 0;
 margin-top:-4px;
 }
 
 .cost-range p:nth-child(2) {
 
 display: flex;
 align-items: center;
 width: 314px;
 height: 32px;
 border: 2px solid #fff;
 margin: 0;
 margin-top: 7px;
 }
 .cost-range span {
 font-size: 14px;
 font-weight: normal;
 width: 157px;
 text-align: center;
 
 }
 
 .cost-range span:nth-child(2) {
 position: relative;
 }
 
 .cost-range span:nth-child(2)::before {
 position: absolute;
 top: 2px;
 content: "";
 left: 0px;
 width: 2px;
 height: 22px;
 background: #fff;
 }
 
 .range-line {

 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 13px;
 width: 317px;
 
 
 }
 .range-line::before {
 position: absolute;
 top: 0;
 left: 0px;
 content: "";
 width: 20px;
 height: 22px;
 background: url("../img/filter-button.svg") no-repeat;
 
 }
 
 .range-line input {
 opacity: 0.3;
 width: 317px;
 margin-left: 11px;
 cursor: pointer;
 }
 .range-line input:hover,
.range-line input:focus,
.range-line input:active {
  opacity: 1;
  color: #fff;
}
 .range-line button {
 border: 2px solid #ffffff;
 font-size: 14px;
 font-weight: normal;
 background: none;
 width: 133px;
 height: 32px;
 margin-top: 22px;
 }
 
 .output-area {
 display: flex;
 width: 1200px;
 min-height: 86px;
 
 }
 .sort {
 display: flex;
 width: 600px;
 height: 100%;
 font-size: 12px;
 padding-left: 72px;
 min-height: 86px;
 
 }
 
 .sort p:nth-child(1) {
 width: 165px;
 font-size: 21px;
 color: #000000;
 }
 .sort p:nth-child(2) {
  color: #000000;
 }
 .sort p {
 display: flex;
 align-items: center;
 
 }
 .sort > ul {
 display: flex;
 justify-content: space-between;
 width: 300px;
 /*border: 1px solid green;*/
 }
 .sort li {
 display: flex;
 align-items: center;
 }
 
 .sort a {
 color: rgba(0, 0, 0, 0.3);
 }
 
 .icon {
 display: flex;
 justify-content: space-between;
 align-items: center;
 /*border: 1px solid;*/
 width: 34px;
 margin-left: auto;
 margin-right: 73px;
 }
 
 .icon a:hover path, 
 .icon a:focus path, 
 .icon a:active path {
 fill: #81b3d2;
 }
 
 .hotel-list {
  display: flex;
 flex-direction: column;
 padding-left: 0;
 /*border: 1px solid blue;*/
 background-color: #fff;
 }
 
 .hotel-list li {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 padding-top: 30px;
 padding-left: 46px;
 margin-bottom: 30px;  
 border-top: 1px solid rgba(117, 190, 218, 0.5);
 
 }
  
 .star {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 margin-left: auto;
 margin-right: 32px;
 padding-right: 0;
 
 }
 .star-again {
 margin-right: 0;
 margin-top: 10px;
 text-align: right;
 }
 .hotel-list > li > img {
 max-width: 100%;
 }
 
 .great-description {
 display: flex;
 flex-direction: column;
 margin-left: 20px;
 /*border: 1px solid green;*/
 
 }
 
 .alignment-for-hotel {
 display: flex;
 text-align: center;
 margin-top: 10px;
 
 }
 
 .for-span {
 display: flex;
 flex-direction: column;
 text-align: left;
 
 
 }
 .for-button {
 display: flex;
 flex-direction: column;
 text-align: left;
 margin-left: 6px;
 
 }
 .for-button span, .for-span span {
 margin-bottom: 10px;
 font-weight: normal;
 color: #333333;
 
 }
 
  .for-button .button-brown {
  width: 142px;
  height: 27px;
    
  }
  
  .title-hotel {
 color: #000000;
 font-size: 21px;
 font-weight: bold;
 margin-top: -5px;
 
 }

 .description-hotel {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 /*border: 2px solid orange;*/
 width: 620px;
 
 }
 
 
 .main-navigation li {
 box-sizing: border-box;
 font-size: 14px;
 text-align: center;
 min-width: 239px;
 min-height: 56px;
 padding-top: 12px;
 /*border: 1px solid;*/
 }
 .place-for-logo {
 min-width: 244px;
 min-height: 56px;
 }
 
 .main-navigation li,
 .main-footer li,
 .hotel-list li {
 list-style: none;

 
 }
 .main-navigation a,
 .main-footer a {
 color: #000000;
 }
 
 
 
 .main-navigation a:hover {
 color: #81b3d2;
 }
 .hotel-list a:hover {
 color: #81b3d2;
 }
 .main-navigation a:active {
 color: rgba(0, 0, 0, 0.3);
 
 }
 .main-header {
 margin: 0 auto;
 /*border: 1px solid;*/
 }
 
 .hotel-list a:active {
 color: rgba(0, 0, 0, 0.3);
 }
 
 .breadcrumbs-current {
 color: #766357;
 }
 
 .main-header-logo {
 position: absolute;
 left: 529px;
 text-align: center;
 /*border: 2px solid green;*/

 }
    
  .container-for-main-page {
 display: flex;
 width: 1200px;
 flex-direction: column;

 flex-wrap: wrap;
 /*box-sizing: border-box;*/
 padding: 0;
 margin: 0 auto;

 /*border: 2px solid red;*/
 }
  
  .main-page {
  /*border: 2px solid red;*/
  padding-top: 76px;
  text-align: center;
  }
  
 .intro-mask {
 margin-bottom: -2px;
 height: 59px;
 
 }
 
 .description-of-benefits  {
 display: block;
 height: 216px;
 
 /*border: 2px solid gray;*/
 
 background-color: #ffffff;
 text-align: center;
 font-family: inherit;
 }
 
 .reserve {
 
 display: flex;
 flex-direction: column;
 box-sizing: border-box;
 width: 1200px;
 height: 205px;
 text-align: center;
 line-height: 24px;
 font-weight: normal;
 background-color: #ffffff;
 padding-top: 57px;
 margin: 0 auto;
 /*border: 2px solid green;*/
 }
 .for-position {
  position: relative;
 display: flex;
 flex-direction: column;
 width: 1200px;
 margin: 0 auto;
 box-shadow: 
 3px 0 10px 0 rgba(204, 204, 204, 0.5),
 -3px 0 10px 0 rgba(204, 204, 204, 0.5);
 /*border: 5px solid gray;*/
 }
 
 .modal {
 position: absolute;
 left: 316px;
 top: 205px;
 display: none;
  
 }
 @keyframes bounce {
 
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(-2px);
  }

  90% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

 .modal-show {
  display: block;
  animation: bounce 1s;
}

.modal-error {
display: block;
  animation: shake 1s;
}
.for-center {
background-color: #ffffff;
}

 .search {
 width: 568px;
 height: 86px;
 margin: 0 auto;
 display: block;
 font-size: 21px;
  
 }
 .modal-plus {
 position: relative;
 }
 .modal-minus {
 position: relative;
 }
 .modal-minus::after {
 content: "";
 position: absolute;
 top: 20px;
 right: 12px;
 width: 11px;
 height: 3px;
 background-color:  #cacaca;
 }
.modal-plus::after,
 .modal-plus::before  
 {
 content: "";
 position: absolute;
 top: 18px;
 right: 12px;
 width: 11px;
 height: 3px;
 background-color:  #cacaca;
 }
 .modal-plus::after {
 transform: rotate(90deg);
 }
 
 .interested {
 font-size: 30px;
 font-weight: bold;
 line-height: 46px;
 }
  .sedona  {
 font-weight: bold;
 color: #000000;
 font-size: 21px;
 line-height: 26px;
 /*border: 2px solid gray;*/
 }
  
 .reasons a {
 color: #000000;
 line-height: 26px;
 font-weight: normal;
 /*border: 2px solid gray;*/
 }
 .map {
 
 width: 1200px;
 height: 473px;
 /*.border: 2px solid green;*/
 margin: 0 auto;
 box-shadow: 3px 0 10px 0 rgba(204, 204, 204, 0.5),
 -3px 0 10px 0 rgba(204, 204, 204, 0.5);
 overflow: hidden;
 }
 
 .map iframe {
 
 /*position: absolute;
 top: 0;
 left: 0;*/
 }
 
  .main-footer {
 
 display: flex;
 min-height: 120px;
 width: 1200px;
 align-items: center;
 margin: 0 auto;

 padding: 0;
 color:  #000000;
 background-color: #ffffff;
 box-shadow: 
 3px 0 10px 0 rgba(204, 204, 204, 0.5),
 -3px 0 10px 0 rgba(204, 204, 204, 0.5);
 
 /*border: 2px solid green;*/
  
 }
 
  .footer-contacts {
 display: block;
 min-width: 223px;
 margin-left: 132px;
 
 font-family: inherit;
 font-weight: bold;
 font-size: 21px;
 text-align: left;
 
 /*border: 4px solid orange;*/
 }
  .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-left: 0;
  border: none;
  }
  .social-network {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  margin-left: 145px;
  padding: 0;
  /*border: 1px solid;*/
  }
  .social-network li {
  display: flex;
  align-items: center;
  /*border: 1px solid;*/
 
  width: 53px;
  padding-right: 6px;
  }
    
 .footer-copyright {
 display: flex;
 align-items: center;
 height: 41px;
 min-width: 189px;
 font-size: 14px;
 line-height: 26px;
 font-weight: normal;
 margin-left: 80px;
 
 }
  
  .footer-copyright a {
  margin-left: 8px;
  }
 
 .search-hotel {
 width: 568px;
 height: 395px;
 background-color: #ffffff;
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 
 margin-top: 0px;
 padding-top: 55px;
 padding-bottom: 29px;
 text-align: center;
 box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
 /*border: 3px solid;*/
 }
 
 .to-make-it-work {
 position: relative;
 display: flex;
 justify-content: space-between;
 box-sizing: border-box;
 width: 458px;
 height: 40px;
 margin: 0 auto;
 margin-bottom: 29px;
 /*border: 1px solid;*/
 }
 .to-make-it-work input[type="text"]{
 background-color: #f2f2f2;
 }
 .to-make-it-work svg {
 position: absolute;
 top: 9px;
 right: 12px;
 fill: #cacaca;
 }
 .to-make-it-work svg:hover {
 fill: #000000;
 }
 .to-make-it-work svg:active {
 fill: #81b3d2;
 }
 .search-hotel .button {
 width: 458px;
 min-height: 58px;
 margin: 0 auto;
 margin-top: 54px;
 
 }
 .search-hotel label {
 display: flex;
 align-items: center;
 
 padding-right: 0px;
 /*border: 1px solid;*/
 }
  
 .search-hotel input[type="text"] {
 display: flex;
 padding-left: 13px;
 font: inherit;
 border: none;
 width: 346px;
 height: 38px;
 
 /*border: 1px solid;*/

 }
 .unusual {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 458px;
 box-sizing: border-box;
 margin: 0 auto;
 /*border: 1px solid;*/
 }
 .unusual > div {
 display: flex;
 
 width: 229px;
 /*border: 5px solid green;*/
 }
 .unusual  div:nth-of-type(2) {
 /*background-color: pink;*/
 box-sizing: border-box;
padding-left: 53px;
 /*border: 1px solid;*/
 }
 .alignment {
 display: flex;
 /*border: 1px solid;*/
 }
 .unusual  div:nth-of-type(1) label {
 /*background-color: pink;*/
 padding-right: 25px;
 }
 .unusual  div:nth-of-type(2) label {
   
 /*background-color: pink;*/
 padding-right: 23px;

 }
 .unusual input[type="text"]{
 font: inherit;
 text-align: center;
 width: 38px;
 height: 38px;
 padding-left: 0;
 background-color: #f2f2f2;
 /*border: none;*/
 /*border: 1px solid;*/
 }
 .unusual button {
 font: inherit;
 text-align: center;
 background: #f2f2f2;
 width: 38px;
 height: 40px;
outline: none;
 border: none;
 /*background: blue;*/
/*border: 1px solid;*/
 }
 .unusual button:active {
 outline: none;
 box-shadow: none;
 }
 .search-hotel input:focus {
 /*background: url("../img/calendar.svg") no-repeat  95% 0;*/
 background-color: #ffffff;
 }
 
 .search-hotel input:hover {
 background-color: #ebebeb;
 /*background: url("../img/calendar.svg") no-repeat  95% 0;*/
 
 }
 
 .modal-plus:hover::before {
 background-color: #000000;
 }
 .modal-plus:hover::after {
 background-color: #000000;
 }
 .modal-minus:hover::after {
 background-color: #000000;
 }
 .modal-plus:active::before {
 background-color: #81b3d2;
 }
 .modal-plus:active::after {
 background-color: #81b3d2;
 }
 .modal-minus:active::after {
 background-color: #81b3d2;
 }
 
 
 .info {
 display: flex;
 flex-wrap: wrap;
/* border: 3px solid;*/
 box-sizing: border-box;
 width: 1200px;
 margin: 0 auto;
 box-shadow: 
 3px 0 10px 0 rgba(204, 204, 204, 0.5),
 -3px 0 10px 0 rgba(204, 204, 204, 0.5);
 }
  
 .reasons-one {
 width: 400px;
 text-align: center;
 background-color: #ffffff;
 line-height: 1.5;
 font-weight: normal;
 }
 
 .recommendations {
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 margin-top: 30px;
 padding-bottom: 85px;
 margin-bottom: 0;
 }
 .recommendations span:nth-child(1) {
 
 font-size: 21px;
 box-sizing: border-box;
 margin-bottom: 30px;
 }
 .reasons-one .souvenirs {
 margin-top: 24px;
 }
 
 .reasons-one .title-1 {
  
 font-size: 21px;
 font-weight: bold;
 line-height: 21px;
 }
 
 .picture {
 margin-top: 56px;
 }
 
 .info .blue {
 width: 400px;
 background-color: #81b3d2;
 color: #ffffff;
 padding-top: 46px;
 }
 .blue .sizes-one {
 display: flex;
 flex-direction: column;
 box-sizing: border-box;
 font-size: 14px;
 height: 146px;
 width: 280px;
 margin: 0 auto;
 
 
 }
 .sizes-one .down {
 font-size: 14px;
 margin-top: 17px;
 }
.sizes-one .number-reason {
  margin-top: 16px;
 }
 .blue .sizes-two {
 display: flex;
 flex-direction: column;
 box-sizing: border-box;
 font-size: 14px;
 height: 142px;
 width: 303px;
 margin: 0 auto;
 }
 .sizes-two .down {
 margin-top: 15px;
 }
 .sizes-two .number-reason {
  margin-top: 15px;
 }
 
 .info .three {
 width: 400px;
 height: 256px;
 background-color: #eeeeee;
 }
 
 .three > p {
 display: flex;
 flex-direction: column;
 box-sizing: border-box;
 font-size: inherit;
 line-height: 21px;
 width: 268px;
 height: 142px;
 margin: 50px auto 64px;
 padding-bottom: 0;
 }
 
 .three .down {
 
 font-size: 14px;
 margin-top: 15px;
  
 }
 .three .number-reason {
 
 font-size: 14px;
 margin-top: 15px;
 }
 
 
